<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Decoraciones Alves</title>
    <!--BootStrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--Material Design Bootstrap-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"rel="stylesheet"/>
    <link rel="stylesheet" href="../stylesheets/mdbootstrap/mdb.min.css"> <!--Almacenado Local-->
    <!--- STYLE PERSONALIZADO --> 
    <link rel="stylesheet" href="../stylesheets/personalizado/style.css"> 
    <link rel="stylesheet" href="../stylesheets/personalizado/navbar_color.css">
    <!-- Style DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
     <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!--Logo de Decoraciones Alves-->
    <link rel="shortcut icon" href="../images/logo/decoalves.png">
  </head>
    

  <body>
      
      <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/logo/decoalves.png" alt="" width="70" height="60" class="d-inline-block align-center">
                        <h1 class=""> Decoraciones Alves</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="usuarios">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="productos">Materiales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active select" href="#">Registro de Materiales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="clientes">Clientes</a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" href="ventas">Ventas</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="presupuestos">Presupuetos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="proveedores">Proveedores</a>
                            </li>
                        </ul>
                        <span class="navbar-text text-white dropdown">
                            <% if (login) { %>
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Bienvenido: <strong><%= nombre %></strong> <i class="fas fa-user-circle icon-avatar"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: 10%;">
                                    <li><a href="/admin/logout" class="nav-link select text-white" title="Cierra la sesion del usuario."> Cerrar Sesión</a></li>
                                </ul>
                            <% } %>
                    </span>
                    </div>
                </div>
            </nav>
      </header>

      <div class="container">
            <a href="javascript:window.print()" class="btn btn-danger mt-4 imprimir" title="Imprime en pdf la tabla actual"><i class="far fa-file-pdf" style="font-size: 20px;"></i></a>
            <a onclick="confirmarExcel()" href="/productos/excel" class="btn btn-success mt-4 imprimir" title="Crea un archivo excel de la tabla presente."><i class="far fa-file-excel" style="font-size: 20px;"></i></a>
            <a href="/registroMateriales/create" class="btn btn-success mt-4 imprimir" style="left: 70%;" title="Añade un nuevo producto a la tabla."><i class="fas fa-plus" style="font-size: 20px;"></i></a> 
            <br>
            <h1 class="text-center" style="color: black; font-size: 37px;">Registro de Materiales</h1>
            <table id="tablaRegistroMateriales" class="table table-bordered table-striped table-hover text-center table-responsive mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Nº</th>
                        <th>Nombre</th>
                        <th>Entrada/Salida</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th class="imprimir">Acciones</th>
                    </tr>       
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for (var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].nombre %></td>
                                <td><%= data[i].estatus %></td>
                                <td><%= data[i].cantidad %></td>
                                <td><%= data[i].fecha %></td>
                                <td class="imprimir">
                                    <!-- <a href="/usuarios/delete/<%= data[i].id %>" class="btn btn-danger"><i class="fas fa-trash"></a> En vez del evento "onclick del boton eliminar esta esta alternativa sin ese evento"-->
                                    <!--<a onclick="confirmar( <%= data[i].id %> )" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>-->
                                    <a href="/registroMateriales/update/<%= data[i].id %>" class="btn btn-info" title="Edita el material seleccionado de la tabla."><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        <%}%>                          
                    <%}%>
                </tbody>
            </table>
      </div>
      <br>
      <br> 
      <br>
  
      <footer class="footer" style="margin-bottom: 0px;">
        <div class="social">
          <a href="" class="fab fa-facebook-f"></a>
          <a href="" class="fab fa-instagram"></a>
          <a href="" class="fab fa-twitter"></a>
          <a href="" class="fab fa-google"></a>
        </div>
        <p class="copy" style="margin-top: 8px;">&copy; Decoraciones Alves 2021 - Todos los derechos reservados <br> Rif: V-06273163-6</p>
      </footer>
    

    <!-- jQuery --> 
    <script type="text/javascript" src="../javascripts/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap and Popper,core JavaScript and Bootstrap tooltips (Cualquier error, poner el bundle por separado,es decir, Bootstrap y Popper)--> <!-- Se puede poner o no poner, solo es para el boostrap(Esta puesto por si acaso, cualquier fallo, quitar)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!--DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <!-- MDB core JavaScript (Usado para el NavBar) -->
    <script type="text/javascript" src="../javascripts/mdbootstrap/mdb.min.js"></script>
    <!-- MDB-KIT Javascript-->
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

    <script>

        $(document).ready(function() {
            $('#tablaRegistroMateriales').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast":"Último",
                        "sNext":"Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing":"Procesando...",
                }
            });
        });

        function confirmarExcel(){ //parametro id
                Swal.fire({
                    title: '¡Archivo de Excel creado!',
                    icon: 'success',
                    confirmButtonColor: '#33B66B',
                    confirmButtonText: 'Confirmar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location = '/registroMateriales'  // '/usuarios/delete/' + id; 
                            //Swal.fire('Cambios guardados', '', 'success')
                        } 
                    })
        };
        
    </script>

  </body>
</html>
